<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理中心</title> 
<style>
</style>
</head>
<FRAMESET border=0 frameSpacing=0 rows="60, *" frameBorder=1>
<FRAME name=top src="admin_top.htm" frameBorder=1 noResize scrolling=no>
<FRAMESET cols="25%,75%">
<FRAME name=left src="admin_left.html" frameBorder=1 noResize>
<FRAME name=main src="admin_center.html" frameBorder=1 noResize scrolling=yes>
</FRAMESET>
</FRAMESET>
  
</html>
