<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理中心</title> 
<style type="text/css">

	.col1 {
		float:left;
		width:177px;
	}
	.col2 {
		float:left;
		width:400px;
	}
	.title {
		width:400px;
	}
	.bodyi{
		width:800px;
		height:400px;
	}
</style>
</head>
<body>
	<div class="main">
	<div class="col1">
			<table width="177" height="100%" border='0' cellspacing='0' cellpadding='0'>
		<tr>
			<td  style='padding-left:3px;padding-top:8px' valign="top">
				<dl class='bitem'>
                <dt onClick='showHide("items1_1")'><b>常用操作</b></dt>
                <dd style='display:block' class='sitem' id='items1_1'>
                <ul class='sitemu'>
                	<div class='items'>
                		<div><a href='/addcontext'>新建文章</a>
                		<div><a href='/view'>文章管理</a>

                	</div>
                </ul>
                </dd>

			</td>
		</tr>
	</table>
	</div>
	<div class="col2">{%block col2%}
		{%endblock%}
	</div>
</div>
</body>
	
</html>
